.pos{
  width: 500px;
  margin: auto;
  
}
.text{
  font-size: xx-large;
}
.box{
  height: 40px;
  width: 250px;
  border-radius: 25px;
  font-size: x-large;
}
button{
  padding: 10px;
  width: 150px;
  border-radius: 25px;
  cursor: pointer;
  background-color: aqua;
}
.submitcontainer{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aquamarine;
  /* width: 900px; */
  
}
.submitcontent{
  border: 2px solid black;
  font-size: x-large;
  width: 400px;
  height: 100px;
  margin: 10px;
  border-radius: 15px;
  background-color: rgb(192, 247, 41);
}
